* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

h1{
color: bisque;
}


/* Seeting up the whole body */
body {
  margin: auto;
  height: 100vh;
  display: flex;
  background-color: black;
}

/* Setting up the section part that cointains the memory-slot */
.memory-game {
  width: 640px;
  height: 640px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  border: 2px solid rgb(15, 27, 68);
  perspective: 1000px;
}

/* Seeting up the box cointer of the images */
.memory-slot {
  border: 2px solid ;
  width: calc(25% - 10px);
  height: calc(33.333% - 10px);
  margin: 5px;
  position: relative;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: 0.5s;
}

/* Creating the flip class that will flip the cards 180 degrees */
.memory-slot.flip {
  transform: rotateY(180deg);
}

/* When an image is cliocked,it must flip */
.memory-slot:active {
  transform: scale(0.97);
  transition: transform 0.2s;
}

.front,
.back {
  width: 100%;
  height: 100%;
  padding: 20px;
  position: absolute;
  border-radius: 5px;
  border: 2px solid lightslategrey;
  backface-visibility: hidden;
}

/* Displaying the back image */
.front {
  transform: rotateY(180deg);
}
